.main{
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 6px grey;
  width: 50%;
  top: 25%;
  left: 25%;
  position: relative;
  background-color: #ffca6c;

}
.submit{
  width  : 50%;
  margin-left: 25%;
}
