.chosenCategories {
  height: 3rem;
  width: 3rem;
  border : 0.05rem solid darkblue;
  background: rgb(255, 202, 108);
  display: inline-block;
  margin-right: 1rem;
  border-radius: 50%;
;
}
.submitCatButton{
  width: 20vw;
  height: 4rem;
  border-radius: 3rem;
  font-size: 2rem;
  background: rgb(255, 202, 108);
  border : 0.05rem solid darkblue;
}
.loader{
  margin:1rem auto;
  border: 0.5rem solid #f3f3f3;
  border-top : 0.5rem solid rgb(255, 202, 108);
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  animation: loaderSpinner 1s linear infinite;
}
  @keyframes  loaderSpinner {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 };