.newsContainer{
    position: absolute;
    height: auto;
    left: 15vw;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content :space-between;
}