.newsContainer{
    position: absolute;
    height: auto;
    left:15vw ;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}